<div class="container">
  <% if @positions %>
    <% @companies.each do |company| %>
      <%= render partial: 'shared/position', locals: { company: company } %>
    <% end %>
  <% else %>
    <p>There are currently no open positions.</p>
  <% end %>
</div>