<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Company</th>
          <th>Position</th>
          <th>Location</th>
          <th>Technologies</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <% @positions.each do |position| %>
          <%= render partial: 'shared/position', locals: { position: position } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>