<div class="container">
  <div class="content">
    <p>The job search process is too fragmented and tedious.</p>
    <p>Our goal is to optimize the process for you in the same way companies like Lever and Hired do for employers.</p>
    <ul class="features">
      <li>Find opportunities that contribute to your long-term goals and aspiration</li>
      <li>Have common questions answered earlier and find the right fit faster</li>
      <li>Speak with future team members instead of a recruiter</li>
    </ul>
    <p>Please let me know if you have any suggestions! Feedback is appreciated. me@LamRoger.com</p>
  </div>
</div>