<div class="container">
  <div class="content">
    <p>The job search process is too long and tedious.</p>
    <p>Let's optimize the process for ourselves since employers are already doing the same for themselves.</p>
    <p>Please let me know if you have any suggestions! Feedback is appreciated. me@LamRoger.com</p>
  </div>
</div>