<tr id="company-<%= company.id %>">
  <td class="name"><%= link_to(company.name, company) %></td>
  <td class="website"><%= company.website %></td>
  <td class="description"><%= company.description %></td>
</tr>