<div class="container">
  <div class="company-detail">
    <h3 class="name"><%= @company.name %></h3>
    <div class="description"><%= @company.description %></div>
    <% unless @company.positions.empty? %>
        <h4 class="positions-title">Positions</h4>
        <%= render partial: "shared/position",
          locals: { skip_company: true, company: @company }
        %>
    <% else %>
      <p>There are currently no open positions.</p>
    <% end %>
  </div>
</div>