// Place all the styles related to the Positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#company {
  margin-bottom: 20px; 
  border-radius: 25px;
  border: 2px solid #f2a256;
  padding: 20px; 
}

.company-info {
  margin-bottom: 10px;
}

.title {
  font-size: 120%;
}

.company-name {
  font-size: 120%;
}

.position div {
  display: inline-block;
}

a {
  color: #000000;
}